.textStyle {
  padding-left: 70;
  padding-right: 50;
}

.actionPadding {
  padding-left: 52;
  background-color: #446CB3;
  color: #ffffff;
}

.teacherVerify {
  position: relative;
  margin-top: 0;
  float: right;
}

.StudentVerify {
  position: relative;
  margin: auto;
  margin-top: 0;
  margin-right: 10;
  float: right;
}

.floatingLabel {
  color: #26A65B;
}

.underlineColor {
  border-color: #446CB3;
}
