.landing {
   background-color: whitesmoke;
   height: 755px;
}
.container {
  font-weight: bold;
  background-color: #F4F9F6;
  height: 70%; 
}

.footer {
    font-size: 20px;
    background-color: #AED9C1;
    height: 22%;   
}

a:link {
   background-color: rebeccapurple;
}