.landing {
   background-color: whitesmoke;
   height: 755px;
}
.container {
  font-weight: bold;
  background-color: #c5d5cb;
  height: 70%; 
}

.footer {
    font-size: 20px;
    background-color: #9fa8a3;
    color: white;
    height: 22%;   
}

a:link {
   background-color: rebeccapurple;
}