.landing {
   background-color: whitesmoke;
   height: 755px;
}
.container {
  font-weight: bold;
  background-color: lightslategrey;
  height: 70%; 
}

.footer {
    font-size: 20px;
    background-color: oldlace;
    height: 20%;
}

.mainfoot {
    background-color: oldlace;
    height: 80%;
}
.endNote {
    height: 20%;
    background-color: linen;
    opacity: 9;
    color: red;
}