
.avatar
{	
  position:relative;
  margin:auto;
  float:right;
  margin-right: 30px;
  margin-top: -37px;
}

.buttonThumbsUp
{
  position:relative;
  margin:auto;
  float:right;
  margin-right:-10px;
  margin-top: -50px;

}

