.forgotPassword {
  display: table-cell;
    vertical-align: middle;
}

.rootForgotPass {
  
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.inner {
  
  margin-left: auto;
    margin-right: auto; 
    width: 70%;
}

.containingEmail {

	margin-left:10%;
	margin-right:10%;

}

.feedback {
	
	color:#26A65B;
	text-align:center;
	margin-left:-16px;
}