{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "plugins": [
    "babel"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "never"],
    "indent": ["error", 2],
    "max-len": [2, 120, 2],
    "no-underscore-dangle": ["error", { "allow": [ "_id" ] }],
    "comma-dangle": ["error", "always-multiline"],
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1
  }
}
