.actionPosition {

  position:relative;
  margin:auto;
  margin-left: 20px;

}

.linkColor {
	
	color: #26A65B;
	position:relative;
	margin-top: -20px;
	margin-left: 30px;
}

.titleStyle
{
        color: #26A65B
}

.pkgName {

	position:relative;
	margin-top: 10px;
	margin-left: -40px;
}