.actionPosition {
  position:absolute;
  margin:auto;
  margin-top: 90px;
  margin-left:250px;
}

.actionPostionLeft {
  position:absolute;
  margin:auto;
  margin-top: 90px;
}

.actionMain {
  position:absolute;
  opacity: 0.6;
}

.container {
  opacity: 0.6;
  padding-right:3px ;
  padding-left:3px;
  padding-top:3px;
  margin-left: 5px;
  text-align:center;
}

.style {
  float: left;
  height: 172;
  width: 170;
  margin: 8.5;
  background-color: #446CB3 ;
  color: #ffffff;
  overflow: inherit;
  align-items: center;
}

.plusButton {
  position: absolute;
  margin-top: 40;
  width: 70;
  height: 70;
  opacity: 0.9;
}
