.textStyle {
  padding-left: 70;
  padding-right: 50;
}

.actionPadding {
  padding-left: 52;
  background-color: #446CB3;
  color: #ffffff;
}

.floatingLabel {
  color: #26A65B;
}
.underlineColor {
  border-color: #446CB3;
}

.buttonStyle {
  color: #ffffff;
}

.cardHeaderStyle {
  padding-left: 70;
  color: #26A65B ;
}

.cardHeaderTitleStyle {
  font-weight: 100%;
  font-size: 130%;
}
