.actionPosition {

  position:absolute;
  margin:auto;
  margin-top: 90px;
  margin-left:250px;
}

.actionPostionLeft {
  
  position:absolute;
  margin:auto;
  margin-top: 90px;


}


.actionMain {
	
	position:absolute;
	opacity: 0.6;
}

.divTitle {
  float: left;
}