.border {
  color: #26A65B;
  border-style: solid;
  border-width: 1;
  border-color: #26A65B;
}

.subheader {
  color: #26A65B;
}

.iconStyles {
  float: left;
  position: relative;
  margin-left: -15;
}
