.actionPosition {

  position:absolute;
  margin:auto;
  margin-top: 90px;
  margin-left:250px;
}

.actionPostionLeft {
  
  position:absolute;
  margin:auto;
  margin-top: 90px;


}

.badge {
	
	position:relative;
  	margin:auto;
    margin-top: 10px;
    margin-left: 118px;
}

.actionMain {
	
	position:absolute;
	opacity: 0.6;
}

.container {

	opacity: 0.6;
	padding-right:3px ;
	padding-left:3px;
	padding-top:3px;
	margin-left: 5px;
	text-align:center;


}

.divTitle {
  float: left;
}

.head {
	
	text-align:center;
	margin-Top: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.downloadPkg {
  
  opacity: 0.6;
  positon: absolute;
  /*margin-top: 80px;*/
  margin-top: 5.5em;
  margin-left: 128px;
}
