.addBookmarkContainer {
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.errorStyle {
  background-color: #e74c3c;
}

.underlineStyle {
  border-color: #446CB3;
}

.focusStyle {
  border-color: #446CB3;
}

.floatingLabelStyle {
  color: #26A65B;
}
