.forgotPassword {
  display: table-cell;
  vertical-align: middle;
}

.rootForgotPass {
  display: table;
  position: absolute;
  height: 70%;
  width: 100%;
}

.inner {
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
}

.containingEmail {
  margin-left: 10%;
  margin-right: 10%;
}

.feedback {
  text-align: center;
  margin-left: -16px;
}

.error {
  color: red;
}

.success {
  color: #26A65B;
}

.titleStyle {
  margin-top: 15;
  font-size: 170%;
  opacity: 0.7
}

.floatingLabel {
  opacity: 0.7;
  font-size: 80%;
  color: #26A65B
}

.underlineColor {
  border-color: #446CB3
}

.iconStyle {
  height: 50;
  width: 50;
  opacity: 0.8
}

.textFieldStyle {
  width: 80%;
  padding: 0;
  font-size: 150%
}

.mediumIcon {
  width: 120;
  height: 120;
  padding-right: 10;
  padding-left: 10;
  padding-top: 10;
  padding-bottom: 0;
  margin-top: 0;
  margin-right: 0;
}

.medium {
  width: 60;
  height: 60 
}

.sendEmail {
  opacity: 0.8;
}

.buttonStyle {
  width: 80%;
}
