.createCourseContainer {
   margin-left: 5%;
   margin-right: 10%;
   text-align: left;
}

.errorStyle {
  background-color: #e74c3c;
}

.underlineStyle {
  border-color: #446CB3;
}

.focusStyle {
  border-color: #446CB3;
}

.floatingLabelStyle {
  color: #27ae60;
}
