.actionPosition {

  position:absolute;
  margin:auto;
  margin-top: 90px;
  margin-left:250px;
}

.actionPostionLeft {
  
  position:absolute;
  margin:auto;
  margin-top: 90px;


}

.badge {
	
	position:absolute;
  	margin:auto;
    margin-top: 20px;
    margin-left: 172px;
    opacity: 1.0;
}

.actionMain {
	
	position:absolute;
	opacity: 0.6;
}

.container {

	padding-right:3px ;
	padding-left:3px;
	padding-top:90px;
	margin-left: 5px;
	text-align:center;
  color:#446CB3;

}

.deleteButton {

position: absolute;
margin-left: 0px;
margin-top: 0px;
opacity: 0.8;
  
}

.downloadMaterial
{
  position: absolute;
  margin-left: 5px;
  margin-top:10px;
  opacity:0.8;
}
.editButton {
  
  position: absolute;
  margin-left: 20px;
  margin-top: 0px;
  opacity: 0.8;
}

.divTitle {
  float: left;
}

.divStyle {
  
   align-content: center;
   color: #446CB3;
   margin-left:5px;
   margin-top: 20px;
   opacity: 0.9;
}

.posImg
{
  margin-left:58px;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 6px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.downloadPkg {

  opacity: 0.6;
  positon: absolute;
  /*margin-top: 80px;*/
  margin-top: -1.4em;
  margin-left: 140px;
}

.imgStyle{
  display: block;
  width: 34%;
  margin-top: 1.5rem;
}