.dashboardRoot
{
   background-color: #FBF6EC;
   min-height: 100vh;
}

.container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.container h1 {
  margin: 0
}

.footer {
    font-size: 20px;
    background-color: #FBF6EC;
    color: darkslategray;
    height: 10%;
}
