.actionPosition {
  position: absolute;
  float: left;
  margin: auto;
}

.actionPostionLeft {
  position: absolute;
  float: right;
  margin: auto;
  margin-left: 250px;
}

.actionFollow {
  position: absolute;
  margin: left;
  margin-left: 30px;
}

.badge {
  position: absolute;
  float: left;
  margin: auto;
  margin-top: -45px;
  margin-left: 270px;
}

.actionMain {
  position: absolute;
  opacity: 0.5;
}

.container {
  position: absolute;
  opacity: 0.7;
  padding-right: 3px ;
  padding-left: 3px;
  padding-top: 3px;
}

.style {
  float: left;
  height: 170px;
  width: 300px;
  margin: 8.5px;
  background-color: #446CB3;
  color: white;
  border-radius: 13px;
  overflow: inherit;
}

.contentStyle {
  float: left;
  width: 300px;
  height: 130px;
  background-color: #446CB3;
  color: white;
  border-radius: 13px;
}

.actionStyle {
  float: left;
  width: 300px;
  background-color: #446CB3;
  color: white;
  border-radius: 13px;
}

.divStyle {
  text-align: center;
}

.iconStyles {
  background-color: white;
}

.paperActions {
  float: left;
}

.mainActionStyle {
  opacity: 0.5;
}
