.style {
  float: left;
  height: 170;
  width: 170;
  margin: 8.5;
  text-align: center;
  display: inline-block;
  border-radius: 13;
  background-color: #446CB3;
}

.buttonStyle {
  margin: auto;
  width: 100%;
  padding: 10;
  height: 170;
  line-height: 140;
}

.plusButton {
  width: 80;
  height: 80;
  opacity: 0.9;
}
