.actionPosition {

  position:absolute;
  margin:auto;
  margin-top: 90px;
  margin-left:250px;
}

.actionPostionLeft {
  
  position:absolute;
  margin:auto;
  margin-top: 90px;


}

.badge {
	
	position:relative;
  	margin:auto;
    margin-top: 10px;
    margin-left: 180px;
    opacity: 1.0;
}

.actionMain {
	
	position:absolute;
	opacity: 0.6;
}

.container {

	opacity: 0.6;
	padding-right:3px ;
	padding-left:3px;
	padding-top:3px;
	margin-left: 5px;
	text-align:center;


}

.divTitle {
  float: left;
}