.actionPosition {

  position:absolute;
  margin:auto;
  margin-top: 90px;
  margin-left:250px;
}

.actionPostionLeft {
  
  position:absolute;
  margin:auto;
  margin-top: 90px;


}

.badge {
	
	position:absolute;
  	margin:auto;
    margin-top: 10px;
    margin-left: 172px;
    opacity: 1.0;
}

.actionMain {
	
	position:absolute;
	opacity: 0.6;
}

.container {

	opacity: 0.6;
	padding-right:3px ;
	padding-left:3px;
	padding-top:90px;
	margin-left: 5px;
	text-align:center;

}

.deleteButton {

position: absolute;
margin-left: 0px;
margin-top: 0px;
opacity: 0.8;
  
}

.editButton {
  
  position: absolute;
  margin-left: 20px;
  margin-top: 0px;
  opacity: 0.8;
}

.divTitle {
  float: left;
}