.actionPosition {
  position:absolute;
  margin:auto;
  margin-top: 90px;
  margin-left:250px;
}

.actionPostionLeft {
  position:absolute;
  margin:auto;
  margin-top: 90px;
}

.badge {
  position:absolute;
  margin:auto;
  margin-top: 20px;
  margin-left: 172px;
  opacity: 1.0;
}

.actionMain {
  position:absolute;
  opacity: 0.6;
}

.container {
  padding-right:3px ;
  padding-left:3px;
  padding-top:90px;
  margin-left: 5px;
  text-align:center;
  color:#446CB3;

}

.deleteButton {
  position: absolute;
  margin-left: 30px;
  margin-top: 9px;
  opacity: 0.8;

}

.downloadMaterial
{
  position: absolute;
  margin-left: 5px;
  margin-top:10px;
  opacity:0.8;
}
.editButton {
  position: absolute;
  margin-left: 20px;
  margin-top: 0px;
  opacity: 0.8;
}

.divTitle {
  float: left;
}

.style {
  float: left;
  height: 172;
  width: 220;
  margin: 8.5;
  background-color: #446CB3;
  color: #ffffff;
  border-bottom-left-radius: 30;
  border-bottom-right-radius: 30;
  overflow: inherit;
  align-items: center;
}

.styleTwo {
  float: left;
  height: 30;
  width: 220;
  margin: 8.5;
  background-color: #446CB3;
  color: #ffffff;
  border-bottom-left-radius: 30;
  border-bottom-right-radius: 30;
  overflow: inherit;
  align-items: center;
  position: absolute;
  margin-top: 150;
  margin-left: -229;
  border-style: solid;
  border-width: 1;
  border-color: #446CB3;
}

.styleThree {
  float: left;
  height: 30;
  width: 220;
  margin: 8.5;
  background-color: #446CB3;
  color: #ffffff;
  border-bottom-left-radius: 30;
  border-bottom-right-radius: 30;
  overflow: inherit;
  align-items: center;
  position: absolute;
  margin-top: 144;
  margin-left: -229;
  border-style: solid;
  border-width: 1;
  border-color: #446CB3;
}

.styleFour {
  float: left;
  height: 80;
  width: 220;
  margin: 8.5;
  background-color: #446CB3;
  color: #ffffff;
  overflow: inherit;
  align-items: center;
  position: absolute;
  margin-top: 8;
  margin-left: -229;
  border-style: solid;
  border-width: 1;
  border-color: #446CB3;
  opacity: 1.0;
  border-bottom-left-radius: 50;
  border-bottom-right-radius: 50;
}

.styleFive {
  float: left;
  height: 30;
  width: 220;
  margin: 8.5;
  background-color: #446CB3;
  color: #ffffff;
  border-bottom-left-radius: 30;
  border-bottom-right-radius: 30;
  overflow: inherit;
  align-items: center;
  position: absolute;
  margin-top: 148;
  margin-left: -229;
  border-style: solid;
  border-width: 1;
  border-color: #446CB3;
}

.styleSix {
  float: left;
  height: 30;
  width: 220;
  margin: 8.5;
  background-color: #446CB3;
  color: #ffffff;
  border-bottom-left-radius: 30;
  border-bottom-right-radius: 30;
  overflow: inherit;
  align-items: center;
  position: absolute;
  margin-top: 147;
  margin-left: -229;
  border-style: solid;
  border-width: 1;
  border-color: #446CB3;
}

.divStyle {
  text-align: center;
  color: #ffffff;
  margin-left: 5;
  margin-top: -7;
  opacity: 0.9;
}
